div(class="slide",id="slide-2")
   img(src="/img/content/nokia5200.png",id="nokiaImg")
   #content
      h3 Nokia 5200
      p lorem lipsumLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius augue sed efficitur ultrices. hasellus commodo consectetur velit, sit amet condimentum neque maximus ac. Phasellus dapibus mauris nisi, a fermentum eros laoreet sed. Pellentesque risus augue, ultrices eget bibendum in, maximus eget lacus. Morbi tincidunt, mi in euismod vulputate
      p(id="snakePlay") play snake
   h4(id="date") 2006
   #snakeDiv
      #infoSnake
         #operator
            img(src="/img/content/operator.png")
         p(id="player") you are player 1
         #numplayers
            p 0 Players
         #waiting
            h4 waiting for other players
            #highscoreInput
               input(type="text",id="name")
               p(id="highscore") submit highscore
      canvas(id="snakeCanvas")
   #highscores
      table
         tr(class="row")
            td(class="name")
            td(class="score")
