div(class="slide",id="slide-5")
   #content
      h3 Nexus 5
      p lorem lipsumLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius augue sed efficitur ultrices. hasellus commodo consectetur velit, sit amet condimentum neque maximus ac. Phasellus dapibus mauris nisi, a fermentum eros laoreet sed. Pellentesque risus augue, ultrices eget bibendum in, maximus eget lacus. Morbi tincidunt, mi in euismod vulputate
   img(src="/img/content/nexus.png")
   h4 2014