div(class="slide",id="slide-3")
   img(src="/img/content/viewty.png",id="img3")
   #content
      h3 Lg Viewty
      p De Lg Vieuwty was mijn eerste gsm met touchscreen. De camera op deze Lg was voor die tijd de beste op de markt. Dit was wel ten kosten van het snelle en makkelijk werken van de gsm. Je kon met deze Lg landscape berichtjes verzenden, maar deze draaide niet standaard, dit was mijn eerste mobiel met volwaardig keyboard ervaring. Eén van de toffe spelletjes was pictionary waarbij de telefoon fungeerde als tekenbord. Speel hieronder pictionary in multiplayer modus.
      a(id="playPic") Play Pictionary
   h4(id="date3") 2008
   #pictionaryDiv
      h4(id="waitingPic") Waiting for other players
      include ../svg/chalkboard.svg
      canvas(id="picCanvas")
