@media screen and (max-width: 1065px) {
  //slide 2
  #slide-2{
    img{
      margin-left: 10%;
      margin-top: 10%
    }
    #date{
      top:79%;
    }
  }
}
@media screen and (max-width: 1200px) {
  #slide-1 {
    h1,h2{
      top:30%;
    }

    h1{
      font-size: 82px;
      top: 25%;
    }

    h2{
      font-size: 50px;
      top:55%
    }
  }

  #slide-2 {
    #nokiaImg{
      margin-left: 10%;
      margin-top: 3%;
    }

    #content{
      margin-top: 0%;
    }
  }

  #slide-3{
    background-color: #000066;
    img{
      top: 0%;
    }
    h4{
      left:68%;
      top: 48%;
    }
  }
}

@media screen and (max-width: 1020px) {
  //slide 1
  #slide-1 {
    h1,h2{
      top:30%;
    }

    h1{
      font-size: 82px;
      top: 25%;
    }

    h2{
      font-size: 50px;
      top:55%
    }
  }

  #slide-2 {
    #nokiaImg{
      margin-left: 6%;
      margin-top: 3%;
    }

    #content{
      margin-top: 0%;
    }
  }
}

@media screen and (max-width: 960px) {
  //slide 2
  #slide-2 {
    img{
      margin-left: 11%;
      margin-top: 13%;
      width: 30%;
      height: auto;
    }
    #content{
      width: 400px;
    }
  }
}

@media screen and (max-width: 830px) {
  //slide 2
  #slide-2 {
    img{
      margin-left: 3%;
    }
  }
}

@media screen and (max-width: 750px) {
  //slide 1
  #slide-1 {
    h1,h2{
      top:30%;
    }

    h1{
      font-size: 72px;
    }

    h2{
      font-size: 40px;
      top:43%;
    }
  }

  //slide 2
  #slide-2{
    #content{
      width: 300px;
    }
  }
}

@media screen and (max-width: 670px) {
  //slide 1
  #slide-1 {
    h1,h2{
      top:30%;
    }

    h1{
      font-size: 62px;
    }

    h2{
      font-size: 30px;
      top:43%;
    }
  }

  #slide-2{
    img{
      width: 26%;
      height: auto;
    }
    h3{
      margin-top: 55px;
      font-size: 34px;
    }
    #content{
      width: 250px;
    }
    p{
      font-size: 14px;
    }

  }
}

@media screen and (max-width: 540px) {
  //slide 1
  #slide-1 {
    h1,h2{
      top:30%;
    }

    h1{
      font-size: 33px;
    }

    h2{
      font-size: 20px;
      top:39%;
    }
  }
}

//mobile
@media screen and (max-device-width: 360px) {
  //slide 2
  #slide-2{
    #nokiaImg{
      margin-left:10%;
      float: none;
      width: 17%;
      height: auto;
    }

    #content{
      width: 35%;
      float: none;

      h3{
        text-align: center;
        font-size: 33px;
      }

      p{
        text-align: center;
        font-size: 17px;
      }

      #snakePlay{
        display: none;
      }
    }

    h4{
      display:none;
    }
  }
}

//landscape
@media handheld and (max-device-height: 600px) and (max-device-width: 1065px){
  //slide 1
  #slide-1 {
    h1,h2{
      top:30%;
    }
    h1{
      font-size: 72px;
    }

    h2{
      font-size: 40px;
      top:50%;
    }
  }

  //slide 2
  #slide-2{
    img{
      width: 25%;
      height: auto;
      margin-left: 10%;
      margin-top: 4%;
    }

    #content{
      width: 500px;
      margin-top: 4%;
      h3{
        margin-top:0;
        font-size: 60px;
        margin-bottom: 0px;
      }
      p{
        margin-top: 0px;
        font-size: 25px;
      }

      #snakePlay{
        display: none;
      }
    }

    h4{
      display:none;
    }
  }
}




