@media screen and (min-width: 1900px) {
  #slide-2 #nokiaImg {
    margin-left: 30%; }
  #slide-2 #snakeDiv {
    left: 28%; }

  #slide-3 #img3 {
    width: 38%; }
  #slide-3 #pictionaryDiv {
    left: 29%; }

  #slide-4 #chat {
    margin-top: 2%; }

  #slide-5 #imgNexus {
    margin-left: 10%; } }
@media screen and (max-width: 1200px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 82px;
    top: 25%; }
  #slide-1 h2 {
    font-size: 50px;
    top: 55%; }

  #slide-2 #nokiaImg {
    margin-left: 10%;
    margin-top: 3%; }
  #slide-2 #content {
    margin-top: 0%; }

  #slide-3 #date3 {
    top: 46%;
    left: 69%; }

  #slide-5 #content {
    margin-left: 4%; }
  #slide-5 #date5 {
    left: 39%; } }
@media screen and (max-width: 1065px) {
  #slide-2 img {
    margin-left: 10%;
    margin-top: 10%; }
  #slide-2 #date {
    top: 79%; }

  #slide-3 #date3 {
    top: 43%;
    left: 68%; } }
@media screen and (max-width: 1020px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 82px;
    top: 25%; }
  #slide-1 h2 {
    font-size: 50px;
    top: 55%; }

  #slide-2 #nokiaImg {
    margin-left: 6%;
    margin-top: 3%; }
  #slide-2 #content {
    margin-top: 0%; } }
@media screen and (max-width: 960px) {
  #slide-2 img {
    margin-left: 11%;
    margin-top: 13%;
    width: 30%;
    height: auto; }
  #slide-2 #content {
    width: 400px; }

  #slide-3 #date3 {
    top: 43%;
    left: 67%; }

  #slide-4 #chat {
    margin-left: 12%; }

  #slide-5 #imgNexus {
    width: 25%;
    margin-top: 15%; }
  #slide-5 #content {
    width: 25%; } }
@media screen and (max-width: 830px) {
  #slide-2 img {
    margin-left: 3%; }

  #slide-3 #date3 {
    top: 47%;
    left: 57%;
    font-size: 31px; }
  #slide-3 #img3 {
    left: 42%;
    top: 39%; }

  #slide-4 #chat {
    margin-left: 5%; } }
@media screen and (max-width: 750px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 72px; }
  #slide-1 h2 {
    font-size: 40px;
    top: 56%; }

  #slide-2 #content {
    width: 300px; } }
@media screen and (max-width: 670px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 62px; }
  #slide-1 h2 {
    font-size: 30px;
    top: 56%; }

  #slide-2 #nokiaImg {
    width: 26%;
    height: auto; }
  #slide-2 h3 {
    margin-top: 20px;
    font-size: 34px; }
  #slide-2 #content {
    width: 250px; }
  #slide-2 p {
    font-size: 14px; } }
@media screen and (max-width: 540px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 33px; }
  #slide-1 h2 {
    font-size: 20px;
    top: 50%; } }
@media screen and (min-device-width: 300px) and (max-device-width: 359px) {
  h4 {
    display: none; }

  #slide-2 #nokiaImg {
    margin-left: 8%;
    float: none;
    width: 17%;
    height: auto; }
  #slide-2 #content {
    width: 30%;
    float: none; }
    #slide-2 #content h3 {
      margin-top: 0%;
      text-align: center;
      font-size: 33px; }
    #slide-2 #content p {
      text-align: center; }
    #slide-2 #content #snakePlay {
      display: none; }

  #slide-3 #img3 {
    position: absolute;
    left: 2%;
    top: 4%;
    width: 30%; }
  #slide-3 #content {
    margin-top: 26%;
    margin-left: 2%;
    width: 290px; }
    #slide-3 #content h3 {
      margin-top: 0%;
      text-align: center; }
    #slide-3 #content p {
      text-align: center;
      font-size: 14px; }

  #slide-4 #chat {
    margin-left: 5%;
    margin-top: 0%;
    width: 24%; }
  #slide-4 #content {
    display: none; }

  #slide-5 #content {
    margin-top: 0%;
    float: none; }
    #slide-5 #content p {
      display: none; }
    #slide-5 #content h3 {
      text-align: center;
      display: block; }
  #slide-5 #imgNexus {
    margin-top: 0%;
    margin-left: 2%;
    float: none;
    width: 30%; } }
@media screen and (min-device-width: 360px) and (max-device-width: 560px) {
  h4 {
    display: none; }

  #slide-2 #nokiaImg {
    margin-left: 10%;
    float: none;
    width: 17%;
    height: auto; }
  #slide-2 #content {
    width: 35%;
    float: none; }
    #slide-2 #content h3 {
      text-align: center;
      font-size: 33px; }
    #slide-2 #content p {
      text-align: center; }
    #slide-2 #content #snakePlay {
      display: none; }

  #slide-3 #img3 {
    position: absolute;
    left: 4%;
    top: 4%;
    width: 30%; }
  #slide-3 #content {
    margin-top: 26%;
    margin-left: 3%;
    width: 290px; }
    #slide-3 #content h3 {
      text-align: center; }
    #slide-3 #content p {
      text-align: center;
      font-size: 14px; }

  #slide-4 #chat {
    margin-left: 8%;
    margin-top: 2%;
    width: 23%; }
  #slide-4 #content {
    display: none; }

  #slide-5 #content {
    margin-top: 0%;
    float: none; }
    #slide-5 #content p {
      display: none; }
    #slide-5 #content h3 {
      text-align: center;
      display: block;
      margin-left: 12%; }
  #slide-5 #imgNexus {
    margin-top: 0%;
    margin-left: 0%;
    float: none;
    width: 37%; } }
@media screen and (min-device-width: 560px) and (max-device-width: 700px) {
  h4 {
    display: none; }

  #slide-1 h1 {
    top: 23%; }

  #slide-2 #nokiaImg {
    width: 15%;
    height: auto;
    margin-left: 3%;
    margin-top: 4%; }
  #slide-2 #content {
    float: left;
    width: 385px;
    margin-top: 4%; }
    #slide-2 #content h3 {
      margin-top: 0;
      font-size: 40px;
      margin-bottom: 0px; }
    #slide-2 #content p {
      margin-top: 0px;
      font-size: 16px; }
    #slide-2 #content #snakePlay {
      display: none; }

  #slide-3 #content {
    margin-top: 0%;
    margin-left: 3%;
    width: 290px;
    float: left; }
    #slide-3 #content h3 {
      font-size: 40px;
      margin-top: 7%; }
    #slide-3 #content p {
      font-size: 15px; }
  #slide-3 #img3 {
    position: relative;
    float: left;
    left: 0%;
    top: 0%;
    margin-left: 1%;
    margin-top: 3%;
    width: 26%; }

  #slide-4 #chat {
    margin: 3%;
    width: 12%; }
  #slide-4 #content {
    margin-top: 0%;
    margin-left: 0%;
    width: 400px; }
    #slide-4 #content h3 {
      font-size: 40px;
      margin-top: 7%; }
    #slide-4 #content p {
      font-size: 15px; }

  #slide-5 #imgNexus {
    width: 20%;
    margin-top: 3%;
    margin-left: 1%; }
  #slide-5 #content {
    margin-top: 2%;
    width: 300px; }
    #slide-5 #content h3 {
      font-size: 40px;
      margin-top: 1%; }
    #slide-5 #content p {
      font-size: 15px; } }

/*# sourceMappingURL=media.css.map */
