@media screen and (max-width: 1065px) {
  #slide-2 img {
    margin-left: 10%;
    margin-top: 10%; }
  #slide-2 #date {
    top: 79%; } }
@media screen and (max-width: 1200px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 82px;
    top: 25%; }
  #slide-1 h2 {
    font-size: 50px;
    top: 55%; }

  #slide-2 #nokiaImg {
    margin-left: 10%;
    margin-top: 3%; }
  #slide-2 #content {
    margin-top: 0%; }

  #slide-3 {
    background-color: #000066; }
    #slide-3 img {
      top: 0%; }
    #slide-3 h4 {
      left: 68%;
      top: 48%; } }
@media screen and (max-width: 1020px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 82px;
    top: 25%; }
  #slide-1 h2 {
    font-size: 50px;
    top: 55%; }

  #slide-2 #nokiaImg {
    margin-left: 6%;
    margin-top: 3%; }
  #slide-2 #content {
    margin-top: 0%; } }
@media screen and (max-width: 960px) {
  #slide-2 img {
    margin-left: 11%;
    margin-top: 13%;
    width: 30%;
    height: auto; }
  #slide-2 #content {
    width: 400px; } }
@media screen and (max-width: 830px) {
  #slide-2 img {
    margin-left: 3%; } }
@media screen and (max-width: 750px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 72px; }
  #slide-1 h2 {
    font-size: 40px;
    top: 43%; }

  #slide-2 #content {
    width: 300px; } }
@media screen and (max-width: 670px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 62px; }
  #slide-1 h2 {
    font-size: 30px;
    top: 43%; }

  #slide-2 img {
    width: 26%;
    height: auto; }
  #slide-2 h3 {
    margin-top: 55px;
    font-size: 34px; }
  #slide-2 #content {
    width: 250px; }
  #slide-2 p {
    font-size: 14px; } }
@media screen and (max-width: 540px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 33px; }
  #slide-1 h2 {
    font-size: 20px;
    top: 39%; } }
@media screen and (max-device-width: 360px) {
  #slide-2 #nokiaImg {
    margin-left: 10%;
    float: none;
    width: 17%;
    height: auto; }
  #slide-2 #content {
    width: 35%;
    float: none; }
    #slide-2 #content h3 {
      text-align: center;
      font-size: 33px; }
    #slide-2 #content p {
      text-align: center;
      font-size: 17px; }
    #slide-2 #content #snakePlay {
      display: none; }
  #slide-2 h4 {
    display: none; } }
@media handheld and (max-device-height: 600px) and (max-device-width: 1065px) {
  #slide-1 h1, #slide-1 h2 {
    top: 30%; }
  #slide-1 h1 {
    font-size: 72px; }
  #slide-1 h2 {
    font-size: 40px;
    top: 50%; }

  #slide-2 img {
    width: 25%;
    height: auto;
    margin-left: 10%;
    margin-top: 4%; }
  #slide-2 #content {
    width: 500px;
    margin-top: 4%; }
    #slide-2 #content h3 {
      margin-top: 0;
      font-size: 60px;
      margin-bottom: 0px; }
    #slide-2 #content p {
      margin-top: 0px;
      font-size: 25px; }
    #slide-2 #content #snakePlay {
      display: none; }
  #slide-2 h4 {
    display: none; } }

/*# sourceMappingURL=media.css.map */
