/* vars */
$greyBack: #2e2e2f;

/* Main */
*{
  padding:0;
  margin:0;
}

body, html {
  height: 100%;
  min-height: 100%;
  background-color: $greyBack;
  color: #ffffff;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
}

/* SLIDES */
.slide{
  min-width: 960px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

//slide 1
#slide-1 {
  #back{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../img/content/style/nexus.png');
  }

  //Google maps
  #map-canvas {
    z-index: -1;
    width: 100%;
    height: 100px;
    position: absolute;
    background: url("../img/content/style/back_no_maps.png") no-repeat;
    background-size: cover;
  }

  h1,h2{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:30%;
    text-align: center;
  }

  h1{
    font-size: 110px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 1px 0px #6c6c6c;
  }

  h2{
    font-size: 65px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 1px 0px #6c6c6c;
    top: 50%;
  }

}

// slide 2
#slide-2{
  background: radial-gradient(#7c87a7, #425380);

  #nokiaImg{
    float: left;
    margin-left: 20%;
    margin-top: 10%
  }

  #content{
    float: left;
    margin-top: 7.5%;
    margin-left: 15px;
    width: 445px;
  }

  h3{
    margin-bottom: 15px;
  }

  h4{
    margin-left: auto;
    margin-right: auto;
    right:0;
    left:0;
    text-align: center;
    position: fixed;
    top: 83%;
  }

  //snake
  #snakeDiv{
    position: absolute;
    background-color: #608a36;
    left:18%;
    top:3%;
    padding:1%;
    display: none;

    #operator{
      float: left;
      img{
        width: 70%;
        height: auto;
      }
    }

    #numplayers{
      padding:0;
      float: right;
      color: #1f2c13;
      font-size: 36px;
      p{
        margin:0;
        margin-bottom: 4px;
      }
    }

    h4{
      position: absolute;
      top:42%;
      color: #1f2c13;
      font-size: 40px;
    }
  }
}

//slide 3
#slide-3{
  background-color: #2f323b;

  img{
    position: fixed;
    margin-top: 24%;
    margin-left: 56%;
    width: 40%;
    height: auto;
  }

  #content{
    margin-top: 10%;
    margin-left: 15%;
    width: 450px;

    h3{
      margin-bottom: 5px;
    }
  }

}

//slide 4
#slide-4{
  background-color: #5d6770;

  img{
    float: left;
    width: 23%;
    height: auto;
    margin-top: 5%;
    margin-left: 23%;
  }

  #content{
    float: left;
    width: 450px;
    margin-left: 3%;
    margin-top: 2%;

    h3{
      margin-bottom: 5px;
    }
  }

  //chat
  input, button,select,option[value="none"]{
    display: none;
  }

  #chat{
    float: left;
    height: 81%;
    width: 23%;
    margin-top: 5%;
    margin-left: 23%;

    #rooms{
      background-color: red;
      width: 100%;
      height: 100%;
      p{
        font-size: 17px;
        text-align: center;
      }

      select{
        background-color: #aaaaaa;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
      }

      select option{
        font-size: 20px;
      }
    }

    #messages{
      height: 49%;
      .messageLeft,.messageRight{
        width: 55%;
        padding-left: 17px;
        padding-right: 17px;
        background: linear-gradient(to bottom,#9f9e9e,#636363);
      }

      .message{
        padding-top: 6px;
        padding-bottom: 0px;
      }
      .userTime{
        font-size: 10px;
        color: #abaaaa;
        padding-bottom: 6px;
      }

      .messageLeft{
        margin-left: 12%;
        text-align: left;
      }
      .messageRight{
        margin-left: 24%;
        text-align: right;
      }
      overflow: hidden;
    }

    #input{
      margin-left: 8%;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 11px;
      width: 100%;
    }

  }
}

//slide 5
#slide-5{
  background-color: #452537;

  #content{
    float: left;
    width: 450px;
    margin-left: 17%;
    margin-top: 7%;

    h3{
      margin-bottom: 5px;
    }
  }

  img{
    float: left;
    width: 37%;
    height: auto;
    margin-top: 8%;
    margin-left: 6%;
  }
}

/* progressbar */
#progress {
  min-width: 0px;
  background-color: #959596;
  top: 99%;
  height: 10px;
  position: fixed;
  z-index: 2;
}

