/* vars */
/* Main */
*{
  padding:0;
  margin:0;
}

body, html {
  height: 100%;
  min-height: 100%;
  color: #ffffff;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
}

/* SLIDES */
.slide{
  min-width: 960px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

//slide 1
#slide-1 {
  #back{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../img/content/style/nexus.png');
  }

  //Google maps
  #map-canvas {
    z-index: -1;
    width: 100%;
    height: 100px;
    position: absolute;
    background: url("../img/content/style/back_no_maps.png") no-repeat;
    background-size: cover;
  }

  h1,h2{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:30%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  h1{
    font-size: 110px;
    text-shadow: 3px 1px 0px #6c6c6c;
  }

  h2{
    font-size: 65px;
    text-shadow: 2px 1px 0px #6c6c6c;
    top: 50%;
  }

  #arrow{
    position: fixed;
    width: 10%;
    top: 79%;
    left: 45%;
  }
}

// slide 2
#slide-2{
  background: radial-gradient(#7c87a7, #425380);

  #nokiaImg{
    float: left;
    margin-left: 20%;
    margin-top: 10%;
  }

  #content{
    float: left;
    margin-top: 7.5%;
    margin-left: 15px;
    width: 445px;

    p{
      margin-bottom: 30px;
    }

    #snakePlay {
      background-image: linear-gradient(to bottom, #7c87a7, #425380);
      border-radius: 14px;
      font-family: Montserrat,sans-serif;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      cursor: pointer;
    }

    #snakePlay:hover {
      background-image: linear-gradient(to bottom, #8c99bb, #5d6f9f);
      text-decoration: none;
    }
  }

  h3{
    margin-bottom: 15px;
  }

  h4{
    right:0;
    left:0;
    text-align: center;
    position: fixed;
    top: 83%;
  }

  //snake
  #snakeDiv{
    position: absolute;
    background-color: #608a36;
    left:18%;
    top:3%;
    padding:1%;
    display: none;

    #operator{
      float: left;
      img{
        width: 70%;
        height: auto;
      }
    }

    #numplayers{
      padding:0;
      float: right;
      color: #1f2c13;
      font-size: 36px;
      p{
        margin:0;
        margin-bottom: 4px;
      }
    }

    h4{
      position: absolute;
      top:42%;
      color: #1f2c13;
      font-size: 40px;
    }

    #highscoreInput{
      position: fixed;
      text-align: center;
      top: 58%;
      right:0;
      left:1%;
      display: none;

      #highscore{
        cursor: pointer;
      }
    }
  }

  #highscores{
    display: none;
    caption{
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 5%;
    }
    .name{
      text-transform: capitalize;
    }
  }
}

//slide 3
#slide-3{
  background:radial-gradient(#494c54,#2f323b);

  #img3{
    position: absolute;
    top: 43%;
    left: 56%;
    width: 40%;
    height: auto;
  }

  #content{
    margin-top: 10%;
    margin-left: 15%;
    width: 450px;

    h3{
      margin-bottom: 5px;
    }

    p{
      margin-bottom: 30px;
    }

    #playPic{
      background: linear-gradient(to bottom, #60636b, #414751);
      border-radius: 14px;
      font-family: Montserrat;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      cursor: pointer;
    }

    #playPic:hover {
      text-decoration: none;
      background: linear-gradient(to bottom, #494c54,#2f323b);
    }
  }

  #date3{
    position: absolute;
    left: 71%;
    top: 50%;
  }

  #pictionaryDiv{
    position: absolute;
    left:18%;
    top:3%;
    display: none;
    width: 950px;
    height: 650px;

    svg{
      position: absolute;
      z-index: 0;
    }
    #picCanvas{
      position: absolute;
      z-index: 3;
      margin-left: 4%;
      margin-top: 3%;
      cursor: crosshair;
    }

    #black,#white,#red,#blue,#green{
      cursor: pointer;
    }

    #textGues{
      display: none;
    }

    .char{
      float: left;
      margin-left: 16px;
      user-select: none;
      cursor: pointer;
    }

    #waitingPic{
      display: none;
      position: absolute;
      z-index: 1;
      left: 15%;
    }
  }
}

//slide 4
#slide-4{
  background: radial-gradient(#8d949b,#5d6770);

  #content{
    float: left;
    width: 450px;
    margin-left: 3%;
    margin-top: 2%;

    h3{
      margin-bottom: 5px;
    }
  }

  //chat
  input, button,select,option[value="none"]{
    display: none;
  }

  .chat-no{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../img/content/Iphone.png');
  }

  #chat{
    float: left;
    width: 23%;
    height: 87%;
    margin-top: 5%;
    margin-left: 23%;

    #rooms{
      background-color: #aaaaaa;
      width: 100%;
      height: 100%;
      p{
        padding-top: 6%;
        font-size: 19px;
        text-align: center;
      }

      select{
        background-color: #aaaaaa;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        margin-top: 6%;
        margin-left: 16%;
      }

      select option{
        font-size: 20px;
      }
    }

    #messages{
      width: 100%;
      height: 100%;
      background-color: #5c5b5b;
      overflow: hidden;

      .messageLeft,.messageRight{
        width: 55%;
        padding-left: 17px;
        padding-right: 17px;
        background: linear-gradient(to bottom,#9f9e9e,#636363);
      }

      .message{
        padding-top: 6px;
        padding-bottom: 0px;
      }
      .userTime{
        font-size: 10px;
        color: #abaaaa;
        padding-bottom: 6px;
      }

      .messageLeft{
        margin-left: 5%;
        text-align: left;
      }
      .messageRight{
        margin-left: 30%;
        text-align: right;
      }
    }

    #input{
      margin-left: 8%;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 11px;
      width: 100%;
      background-color: #aaaaaa;
    }

    #os p{
      font-size: 13px;
    }
  }

  #date4{
    position: absolute;
    top: 77%;
    left: 48%;
  }
}

//slide 5
#slide-5{
  background: radial-gradient(#583b4b,#452537);

  #content{
    float: left;
    width: 450px;
    margin-left: 17%;
    margin-top: 7%;

    h3{
      margin-bottom: 5px;
    }
  }

  #imgNexus{
    float: left;
    width: 37%;
    height: 71%;
    margin-top: 3%;
    margin-left: 6%;
  }

  #date5{
    position: absolute;
    top: 70%;
    left: 44%;
  }

  #os p{
    font-size: 13px;
  }

  #today{
    background-color: #797979;
    width:100%;
    height: 100%;

    p{
      margin: 0%;
      padding: 0%;
    }
    #location{
      padding-top: 3%;
      text-align: center;
      font-size: 20px;
      margin-bottom: 2%;
    }
    #temp,#weather{
      overflow: hidden;
      float: left;
      width: 50%;
      font-size: 16px;
    }
    #weather{
      width: 43%;
      margin-top: 4%;
    }
    #tempLow,#tempHigh{
      overflow: hidden;
      p,img{
        float: left;
        width: 45%;
      }
      p{
        margin-top: 11%;
      }
    }
    #tempHigh{
      margin-top: -3%;
    }
  }
  #sun{
    margin-top: 3%;
    img,p{
      float: left;
    }
    p{
      margin-top: 11%;
    }
    img{
      width: 24%;
    }
  }

  #tomorow,#dayAfter{
    background-color: #797979;
    width: 100%;
    height: 100%;

    #day{
      padding-top: 3%;
      margin-left: 3%;
      margin-bottom: 0%;
    }

    #temp,#weather{
      overflow: hidden;
      float: left;
      width: 50%;
      font-size: 16px;
    }

    #weather{
      width: 40%;
      margin-top: -10%;
    }

    #tempLow,#tempHigh{
      overflow: hidden;
      img{
        float: left;
        width: 26%;
      }
      p{
        font-size: 12px;
      }
    }
  }
}

/* progressbar */
#progress {
  min-width: 0px;
  background-color: #959596;
  top: 99%;
  height: 10px;
  position: fixed;
  z-index: 2;
}

