extends layout/layout

block content
   //progress
   div(id="progress",data-0="width:0%;",data-end="width:100%;")

   //Slide1
   include slides/slide1

   //Slide2
   include slides/slide2

   //Slide3
   include slides/slide3

   //Slide4
   include slides/slide4

   //slide5
   include slides/slide5