extends layout/layout

block content
   //progress
   div(id="progress",data-0="width:0%;",data-end="width:100%;")

   //Slide1
   include slides/slide1.jade

   //Slide2
   include slides/slide2.jade

   //Slide3
   include slides/slide3.jade

   //Slide4
   include slides/slide4.jade

   //slide5
   include slides/slide5.jade