div(class="slide",id="slide-4")
   #chat
      include ../svg/iphone
   #content
      h3 Iphone
      p Mijn eerste smartphone, ik heb twee modellen van deze gehad. Namelijk de Iphone 4 waar ik enorm tevreden van was. Maar toch na twee jaar begon te verzwakken. De batterijduur was amper een dag en het wifi-bereik werd rampzalig. Na de aankoop van de Iphone 5 waren deze problemen verholpen. Een handige functie bij iphone was dat je berichten kon versturen via iMessage over het internet. Chat hiernaast met mede bezoekers over diverse onderwerpen.
   h4(id="date4") 2010