div(class="slide",id="slide-5")
   #content
      h3 Nexus 5
      p De Nexus 5 is tot op heden nog altijd mijn eerste Android phone. Om een lang verhaal kort te maken: ik was geen Apple ‘fanboy’ meer na de lessen android development in het tweede jaar NMCT. De Nexus is nog steeds enorm populair binnen de kring van Android developers omdat deze de stock Android draait en als eerste de nieuwe Android updates ontvangt. Bovendien krijg je voor een zeer voordelige prijs, in vergelijking met Apple, een goede smartphone.
   #imgNexus
      include ../svg/nexus
   h4(id="date5") 2014