div(class="slide",id="slide-2")
   img(src="/img/content/nokia5200.png",id="nokiaImg")
   #content
      h3 Nokia 5200
      p Mijn eerste gsm, de nokia 5200, bekend bij vele jongeren omdat deze een “mooi” ingebouwde mp3 functie had die je door middel van de knoppen op de zijkant kon bedienen. Ook had deze nokia een voor die tijd een geavanceerde camera waar je toch iets op een foto kon herkennen. Eén van de favoriete spelletjes op deze nokia was de vernieuwde snake. Hieronder kan je de nostalgie van snake nog eens opnieuw beleven met een multiplayer snake game.
      a(id="snakePlay") Play Snake
      #highscores
         table
            caption highscores

   h4(id="date") 2006
   #snakeDiv
      #infoSnake
         #operator
            img(src="/img/content/operator.png")
         p(id="player") you are player 1
         #numplayers
            p 0 Players
         #waiting
            h4 waiting for other players
            #highscoreInput
               input(type="text",id="name",placeholder="name")
               p(id="highscore") submit highscore
      canvas(id="snakeCanvas")
