//minifie
//google maps
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDu6sr4kPF5C0YXOW2Xv4zDT3SfRxwARcE')
//gulp minification
script(src='/build/js/lib.min.js')
script(src='/build/js/app.min.js')