link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Montserrat')
link(rel='styleSheet',href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister')
link(rel='stylesheet',href='/stylesheets/normalize.css')
link(rel='stylesheet',href='/stylesheets/screen.css')
link(rel='stylesheet',href='/stylesheets/media.css')
<link rel="stylesheet" type="text/css" href="stylesheets/scroll.css" data-skrollr-stylesheet />