link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Montserrat')
link(rel='stylesheet',href='/stylesheets/normalize.css')
link(rel='stylesheet',href='/stylesheets/screen.css')
link(rel='stylesheet',href='/stylesheets/media.css')
<link rel="stylesheet" type="text/css" href="stylesheets/scroll.css" data-skrollr-stylesheet />
////minifie
//<link rel="stylesheet" type="text/css" href="stylesheets/scroll.css" data-skrollr-stylesheet />
//link(rel='stylesheet',href='/build/css/style.min.css')